# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = DeploySpider.settings

[deploy]
url = http://$server$/
project = DeploySpider
